@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$white : #ffff;
$dark : #1b1b1b;
$accent : #FF930F;
$secondary : #f3f3f3;
$montserrat : Montserrat;