@import "../theme/variables";

.layout-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;

    .dash-layout{
        background-color: $white;
        margin-right: 15px;
        width: 78%;
        height: 95%;
        border-radius: 18px;
    }

}