@import "../theme/variables";


.login-container{
    width: 100%;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;


    .login-card{
        display: flex;
        flex-direction: column;
        background-color: $white;
        width: 500px;
        height: 600px;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        gap: 20px;

        .title{
            margin-bottom: 10px;
            img{
                width: 300px;
                margin-bottom: 20px;
            }
            h1{
                text-align: center;
                color: $dark;
            }
        }

        .text,.pass{
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 10px;
            

            input{
                width: 300px;
                padding: 19px 18px;
                font-size: 16px;
                border-radius: 100px;
                border: none;
                background-color: $secondary;
                font-family: $montserrat;

                &:hover{
                    outline: none;
                }
                &:focus{
                    outline: none;
                }
            }

            button{
                position: absolute;
                right: 11px;
                bottom: 10px;
                border-radius: 40px;
                font-size: 12px;
                padding: 12px;
                border:none;
                background-color: $accent;
                color: $white;
                font-family: $montserrat;
                cursor: pointer;
            }
        }

        button{
            background-color: $accent;
            border: none;
            border-radius: 50px;
            font-size: 18px;
            padding: 12px 23px;
            color: $white;
            font-family: $montserrat;
            cursor: pointer;
            font-weight: 500;
        }

        .rec{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 15px;

            a{
                text-decoration: none;
                font-size: 14px;

                &:nth-child(1){
                    color: $dark;
                }

                &:nth-child(2){
                    color: $accent;
                }
            }
        }
    }
}